@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    font-family: Roboto Mono;
    background-color: #111820;
    color: #EEDAEA;
}

h1, h3 {
    color: #CF6ADD;
}

#hyperlinks {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#hyperlinks > li {
    float: left;
}

#hyperlinks > li a {
    display: block;
    text-align: center;
    padding: 5px;
}

button > a {
    text-decoration: none;
}

.pronounce, .word{
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    min-height: 100vh; /* Ensure container takes up full viewport height */
}
  
.centerDiv {
    /* Add any necessary width or height constraints here */
    width: 500px;
    height: 250px;
}

.centerDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.centerDiv > * {
    margin-bottom: 5px;
    margin-top: 5px;
}

.centerDiv > hr {
    width: 175px;
}