@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    font-family: Roboto Mono;
    background-color: #122117;
    color: #daede0;
}

h1, h3 {
    color: #6ade8f;
}

#hyperlinks {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#hyperlinks > li {
    float: left;
}

#hyperlinks > li a {
    display: block;
    text-align: center;
    padding: 5px;
}

button > a {
    text-decoration: none;
}

.pronounce, .word{
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
  
.centerDiv {
    width: 500px;
    height: 250px;
}

.centerDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.centerDiv > * {
    margin-bottom: 5px;
    margin-top: 5px;
}

.centerDiv > hr {
    width: 175px;
}