<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grifeng</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
    <h1>grifeng suffixes</h1>
    <hr>
    <button><a href="{{#if isGenerating}}index.html{{else}}/{{/if}}">Home</a></button>
    <button><a href="{{#if isGenerating}}words.html{{else}}/words{{/if}}">Words</a></button>
    <button><a href="{{#if isGenerating}}suffixes.html{{else}}/suffixes{{/if}}">Suffixes</a></button>
    <hr>
    <ul>
        {{#each suffixes}}
            <li><a href="/suffixes/{{this.suffix}}">{{this.suffix}}</a></li>
        {{/each}}
    </ul>
</body>
</html>