<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grifeng</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
    <h1>{{suffix}}</h1>
    <hr>
    <button><a href="/">Home</a></button>
    <button><a href="/words">Words</a></button>
    <button><a href="/suffixes">Suffixes</a></button>
    <hr>
    <p>Description: {{description}}</p>
    <p><b>Example</b><br>Grifeng: {{grifengEx}}<br>English: {{englishEx}}</p>
</body>
</html>